@import url('./../../../variables.css');



ol li:first-child {
    font-weight: bold;
}

#game-over-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;


    // .full-choices-list-verbose {
        .choice-verbose {
            margin: 20px;
    
            max-height: 100px;
            overflow-y: auto;
    
    
            // deprecated 
            .matched-marker {
                display: inline-block;
                border-radius: 50%;
                background-color: var(--main-secondary-color);
                width: 10px;
                height: 10px;
                margin: 0 20px 0 5px;
            }
            
            .game-over-marker {
                display: inline-block;
                border-radius: 50%;
                background-color: var(--main-primary-color);
                width: 10px;
                height: 10px;
                margin: 0 20px 0 5px;
            }
            // deprecated end
    
            img {
                max-width: 20px;
                max-height: 20px;
                border-radius: 50%;
            }
        }
    // }

    
    p {
        padding: 0;
        margin: 0;
    }
    
}