<div id="game-over-container" *ngIf="matchConfig">
  
  <h2>Game over!</h2>
  
  <ol>
    <li *ngFor="let player of matchConfig.players;">
      <p>
        {{player.name}} has won with {{player.pairsWon}} pairs in {{player.totalTime()}} seconds!
      </p>
    </li>
  </ol>


  <app-time-line [matchConfig]="matchConfig"></app-time-line>


  <ol *ngIf="false" class="full-choices-list-verbose">
    <li *ngFor="let cardEvent of allChoices">

      <div class="choice-verbose">

        <span>At {{cardEvent.occuredAt | date: 'mm.ss.SSS'}}
        </span>

        <span *ngIf="cardEvent.isFirstSelectedCard">
          <span>first card selected</span>
          <img class="card-image" [src]="imageUrl(cardEvent.partnerId)" alt="Zelda 1">
          <!-- <div class="matched-marker"></div> -->
        </span>

        <span *ngIf="cardEvent.isMatch">
          <span>a matching card was selected</span>
          <img class="card-image" [src]="imageUrl(cardEvent.partnerId)" alt="Zelda 1">
          <img class="card-image" [src]="imageUrl(cardEvent.partnerId)" alt="Zelda 2">
          <!-- <div class="matched-marker"></div> -->
        </span>

        <span *ngIf="cardEvent.isGameOver">
          <span>::: GAME OVER! ::::</span>
          <div class="game-over-marker"></div>
        </span>

      </div>
    </li>
  </ol>


  <button (click)="playAgain()">Play again</button>
</div>