@import url('./../../../variables.css');



ol li:first-child {
    font-weight: bold;
}

#game-over-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .choices-container {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // min-width: 30vw;

        margin: 20px;


        .matched-marker {
            // border: 2px solid red;
            display: inline-block;
            border-radius: 50%;
            background-color: var(--main-secondary-color);
            
            width: 10px;
            height: 10px;

            margin: 0 20px 0 5px;
        }
        
        .game-over-marker {
            // border: 2px solid red;
            display: inline-block;
            border-radius: 50%;
            background-color: var(--main-primary-color);
            
            width: 10px;
            height: 10px;
            
            margin: 0 20px 0 5px;
        }
    }
    
    p {
        padding: 0;
        margin: 0;
    }
    
}