<div class="container" id="container-startscreen">
    <div id="background-container">
        <!-- generated SVG is added here. DO NOT REMOVE, smartass :) -->
    </div>
    <!-- <h2>Fancy a game of</h2> -->
    <h1>Memory!</h1>

    <div>
        <button name="start-match" (click)="startMatch(0)">Watch 2 fools (AI) play</button>
        <span>choose</span>
        <button name="start-match" (click)="startMatch(1)">1 Player</button>
        <span>or</span>
        <button name="start-match" (click)="startMatch(2)">2 Players</button>
    </div>

</div>

<!-- <app-tutorial [tutorial]="tutorialName"></app-tutorial> -->


<!-- boardsize und image selection -->
<!-- <h3>Wählt die Anzahl der Karten</h3>
    <div class="board-size-container">
        <p-radioButton name="boardSize" value="small" label="4x4" [(ngModel)]="selectedBoardSize" (onClick)="boardSizeSelected($event)"></p-radioButton>
        <p-radioButton name="boardSize" value="medium" label="6x6" [(ngModel)]="selectedBoardSize" (onClick)="boardSizeSelected($event)"></p-radioButton>
        <p-radioButton name="boardSize" value="large" label="10x10" [(ngModel)]="selectedBoardSize" (onClick)="boardSizeSelected($event)"></p-radioButton>
    </div>
    
    <h3>Wählt Fotos, mit denen ihr Memory spielen wollt</h3>
    <input #file type="file" accept="image/*" (change)="imageSelected(file.files)" multiple>
    
    <div class="image-list" *ngIf="images.length > 0">
        <p-card *ngFor="let imageUrl of images" >
            <img [src]="imageUrl" height="200">
        </p-card>
    </div> -->
<!-- boardsize und image selection end -->