// #background-container {
//     --padding-top: 50px;

//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100vw;
//     height: 100vh;
//     // height: calc(100vh - var(--padding-top));

//     pointer-events: none;

//     opacity: .6;
//     // margin-top: var(--padding-top);
//     // z-index: 1;
// }

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 25vh;
    min-height: 200px;

    // contains generated svgs. floats behind everything else. fancy stuff
    // #background-container {
    //     // border: 3px dashed red;

    //     position: fixed;
    //     left: 0;
    //     top: 0;
    //     width: 100vw;
    //     height: 100vh;
    //     // pointer-events: none;
    //     overflow: hidden;

    //     // display: flex;
        // opacity: var(--background-opacity);
        // filter: blur(var(--background-blur));

    //     z-index: -1;
    // }

    .player-selection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    button {
        border: 1px solid var(--main-border-color);
        margin: 10px 10px;
        padding: 10px 10px;
    }
    
    h1{
        text-align: center;
        margin: 0 0 10px 0;
    }

    p-radioButton {
        margin: 10px;
    }
}
.ui-radiobutton .ui-radiobutton-box.ui-state-active {
    opacity: .5;
    border-color: white;
    background-color: grey;
}