@import url('./../variables.css');

.root-container {

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;

    width: 100vw;
    height: 100vh;
    
    background: var(--main-background-color);
}

.content-wrapper {
    border: 1px solid black;

    width: 70vw;
    min-width: 300px;
    // max-width: 700px;
    
    height: 80vh;
    min-height: 400px;
    // max-height: 600px;

    padding: 1.5rem;

}

.content-wrapper h1{
    text-align: center;
}

