@import url('./../variables.css');

.root-container {

    display: flex;
    justify-content: center;
    align-items: center;

    
    width: 100vw;
    // height: 100vh;
    
    // background: var(--main-background-color);
    // border: 1px solid black;
}

.content-wrapper {
    // border: 3px dotted red;

    width: 100vw;
    // min-width: 300px;
    // max-width: 700px;
    
    // height: 100vh;
    // min-height: 400px;
    // max-height: 600px;

    // margin: 50px;
    // padding: 50px;

}
