.player-container {
    // border: 1px solid white;
    width: 50vw;

    padding: 10px;
    text-align: center;
}

.active-indicator {
    // border: 2px dotted black;
    opacity: 0;
    width: 1em;
    height: 1em;
    background: wheat;

    border-radius: 50%;
}

.active {
    opacity: 1;
}