@import url('./../../../variables.css');


.board {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    width: 70vmin;
    height: 70vmin;

    max-width: 700px;
    // min-height: 400px;

    margin: 0 auto;
}


.top-bar {
    display: flex;
    // height: min-content !important;
    
    opacity: 0;
    
    p {
        padding: 20px;
        margin: 0;
    }
}

.stats-panel {
    display: flex;
    
    flex-direction: column;
    height: min-content;

    color: white;
    
    p {
        margin: 0;
        padding: 0;
    }
}


.btn-start-screen {
    position: fixed;
    top: 0;
    right: 0;

    margin: 20px;
}


#game-over-notice {
    // border: 3px dotted var(--main-border-color);

    opacity: 0;
    pointer-events: none;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    // somehow overridden with 100% which i don´t want here
    width: 25vw !important;
    height: min-content !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    margin: 0;
    padding: 0;
}