<!-- player-info-header -->
<div class="top-bar" id="top-bar">
  <!-- <app-animated-background></app-animated-background> -->

  <div class="stats-panel" id="stats-panel">
    <h1>Memory!</h1>
    <h2>match time: {{currentMatchDurationTime}}</h2>
    <button class="btn-start-screen" (click)="gotoStartScreen()">Back</button>
    <app-player-info [player]="getPlayer(0)" [isActive]="isActivePlayer(0)"></app-player-info>
    <app-player-info [player]="getPlayer(1)" [isActive]="isActivePlayer(1)"></app-player-info>
  </div>

</div>
<!-- <div class="game-over-container" id="game-over-notice" *ngIf="showGameOver"> -->

  <app-board [cards]="cards" class="app-board"></app-board>


<!-- grid with cards -> the 'board' -->
<div class="board" id="board" *ngIf="false">
  <!-- [ngStyle]="{'background': card.color}" -->
  <app-memory-card *ngFor="let card of cards; index as i;" class="card" 
    [id]="'card-' + i" [card]="card" (mouseover)="cardMouseOver($event, card)" (mouseout)="cardMouseOut($event, card)"
    (click)="cardClicked($event, card)">
  </app-memory-card>
</div>

<div class="game-over-container padded-oval-background" id="game-over-notice">
  <!-- <div class="game-over-container" id="game-over-notice" *ngIf="showGameOver"> -->
  <h2>Game over!</h2>
  <button (click)="continueToGameOver()">continue to result screen</button>
</div>

<div *ngIf="!matchConfig">
  <p>...loading match...</p>
</div>

<!-- <app-tutorial [tutorial]="tutorialName"></app-tutorial> -->