@import url('./../../../variables.css');


.btn-start-screen {
    margin: 0 auto;
}

.board {
    display: grid;

    // TODO: use variables and set to values from MatchConfig!
    // grid-template-columns: repeat(8, 1fr);
    // grid-template-rows: repeat(4, 1fr);

    grid-template-columns: repeat(var(--board-column-count), 1fr);
    grid-gap: 5vmin;

    justify-items: center;
    align-items: center;


    // border: 1 px solid black;

    margin: 1vmin;
    padding: 2vmin;

    width: 100vw;
    height: 80vh;
}

.card {
    opacity: 0;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--main-border-color);
    border-radius: 10px;
    padding: 10px;

    width: 100%;
    height: 100%;

    color: var(--main-text-color-dark);

    // width: calc(25vw);
    // width: calc(20vw - 1em);
    // height: calc(25vh);
    // height: calc(20vh - 1em);
    
    // width: calc(100% / 8);
    // width: 100px;
    // min-width: 50px;
    
    // height: calc(100% / 4);
    // height: 100px;
    // min-height: 50px;


    cursor: pointer;

    text-align: center;

    p {
        pointer-events: none;
    }
}

.card:hover {
    background: white;
}

.disabled-card {
    // user-select: none;
    cursor: move;
}

.top-bar {
    // display: flex;
    // flex-direction: column;

    // width: 100%;
    // height: 50px;
    opacity: 0;
}

.stats-panel {
    display: flex;

    // flex-direction: row;
    // width: 100%;
    // height: 50px;

    justify-content: space-around ;
    align-items: center;

    margin-bottom: 1em;
    // border: 1px solid red;
    // width: 100%;
    // height: 10%;
    // min-height: 50px;
}

.stats-panel p {
    margin: 0;
}

.btn-start-screen {
    margin-bottom: 10px;
}

.game-over-container {
    opacity: 0;
    pointer-events: none;

    position: absolute;
    
    width: 50vw;
    height: 50vh;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 3px dotted var(--main-border-color);
}
