/* You can add global styles to this file, and also import other style files */

@import url('variables.css');





body {
    margin: 0;
    padding: 0;

    // width: 100vw;
    // height: 100vh;

    overflow: hidden; 

    // background: red;

    // color: var(--main-text-color);
} 