/* You can add global styles to this file, and also import other style files */

@import url('variables.css');



.padded-oval-background {
    padding: 4  0px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}


body {
    margin: 0;
    padding: 0;

    // width: 100vw;
    // height: 100vh;

    overflow: hidden; 

    // background: red;

    // color: var(--main-text-color);
} 

img {
    filter: grayscale(100%);
}