:root {
    --main-background-color: rgba(0, 0, 0, 1.0);
    --main-border-color: rgb(121, 33, 33);
    
    --main-primary-color: rgb(121, 33, 33);
    --main-secondary-color: coral;
    
    --main-text-color: #ffffff;
    --main-text-color-dark: #000000;

    /* dialogs */
    --main-confirm-color: #82E898;
    --main-cancel-color: #FF878E;
    
    
    /* ranking */
    --main-first-place-color: coral;
    --main-second-place-color: coral;
    --main-third-place-color: coral;


    --card-width: 100px;
    --card-height: 100px;

    --card-count-x: 4;
    --card-count-y: 4;

    /* card */
    /* TODO: check */
    --card-hover-fontsize: 18;
    /* card end */

      --board-column-count: 4;
  }
  