:root {
    --main-background-color: #cc7e3e;
    --main-border-color: #3fdb31;
    
    --main-primary-color: rgba(138, 138, 138, 0.5);
    --main-secondary-color: rgba(34, 34, 34, 0.5);
    
    --main-text-color: #ffffff;
    --main-text-color-dark: #000000;

    /* dialogs */
    --main-confirm-color: #82E898;
    --main-cancel-color: #FF878E;
    
    
    /* ranking */
    --main-first-place-color: coral;
    --main-second-place-color: coral;
    --main-third-place-color: coral;


    
    /* card */
    /* TODO: check */
    --card-count-x: 4;
    --card-count-y: 4;
    --card-width: calc(100vw / var(--board-column-count));
    --card-height: calc(100vw / var(--board-row-count));
    --card-hover-fontsize: 18; 
    /* card end */
    

    --board-column-count: 3;
    --board-row-count: 3;
    
    /* background */
    --background-blur: 2px;
    --background-opacity: .3;
    
  }
  