:root {
    --main-background-color: #7fd1e6;
    --main-border-color: #792121;
    
    --main-primary-color: #46d2f5;
    --main-secondary-color: #0a5a6e;
    
    --main-text-color: #ffffff;
    --main-text-color-dark: #000000;

    /* dialogs */
    --main-confirm-color: #82E898;
    --main-cancel-color: #FF878E;
    
    
    /* ranking */
    --main-first-place-color: coral;
    --main-second-place-color: coral;
    --main-third-place-color: coral;


    --card-width: 100px;
    --card-height: 100px;

    --card-count-x: 4;
    --card-count-y: 4;

    /* card */
    /* TODO: check */
    --card-hover-fontsize: 18;
    /* card end */

    --board-column-count: 4;
    --board-row-count: 1;

    --background-blur: 2px;
    --background-opacity: .3;
  }
  